* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input::placeholder {
  color: #d7d7d7;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.clear {
  clear: both;
}

header {
  height: 100px;
  background-color: #f4f4f4;
  box-shadow: 10px 3px 3px #cdcdcd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 19px 51px;
}

header .button {
  display: inline-block;
}

header .butt {
  width: 174px;
  justify-content: space-between;
  display: flex;
}

header .button button {
  text-decoration: none;
  background-color: #0271c7;
  border: none;
  color: #f4f6f9;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
}



header .search {
  display: inline-block;
}

header .search p .inpSe {
  width: 200px;
  height: 26px;
  padding: 0 7px;
  border-radius: 2px;
  margin-bottom: 0;
  border: 1px solid #d5d5d5;
  letter-spacing: -0.4px;
  -webkit-appearance: none;
}

#calendar {
  margin: 16px 0 0 0;
}

.container .content {
  padding: 0 50px;
}

.container .content #calendar .wrapper .header {
  display: flex;
  flex-direction: row;
}

.container .content #calendar .wrapper .header button {
  cursor: pointer;
  border: 1px solid #b2b2b2;
  background-color: white;
  border-radius: 5px;
  -webkit-appearance: none;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content #calendar .wrapper .header button.arrow {
  font-size: 7px;
  color: #939393;
}

.container .content #calendar .wrapper .header button.now-date-btn {
  width: 65px;
}

.container .content #calendar .wrapper .header .title {
  font-weight: 600;
  margin: 0 7px;
  color: initial;
}

.container .content #calendar .wrapper .header button.now-date-btn {
  margin: 0 7px;
}

.container .content #calendar .wrapper .body {
  margin: 11px 0 0 0;
}

.container .content #calendar .wrapper .body table {
  width: 100%;
  border-collapse: collapse;
}

.container .content #calendar .wrapper .body table tbody tr {
  display: flex;
}

.container .content #calendar .wrapper .body table tbody tr td {
  position: relative;
  height: 118px;
  width: calc(100% / 6);
  border: 1px solid #ebebeb;
  display: flex;
  font-size: 10px;
  padding: 7px 8px 0 8px;
  color: #afafaf;
  cursor: pointer;
}

.container .content #calendar .wrapper .body table tbody tr td.current, .container .content #calendar .wrapper .body table tbody tr td:hover {
  background-color: #f5f5f5;
}

.container .content #calendar .wrapper .body table tbody tr td.gray {
  background-color: #d7d7d7;
}

.container .content #calendar .wrapper .body table tbody tr td:not(:last-child) {
  border-right: none;
}

.container .content #calendar .wrapper .body table tbody tr:not(:last-child) td {
  border-bottom: none;
}

.note{
  border:1px solid #8abfe9 !important;
  background-color:#c2e4fe !important;
}

#add-note, #add-note__quick{
  border:1px solid #ccc;
  position:absolute;
  top:47px;left:0;
  /*display:none;*/
  padding:25px 20px;
  background-color:#fff;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
  -moz-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
  box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
}
#add-note__quick{
  /*display:none;*/
  top:47px;left:0;
  z-index: 10;
}
#add-note:before{
  content:"";
  position:absolute;
  top:-20px;left:20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
#add-note__quick:before{

}
#add-note i, #add-note__quick i{
  position:absolute;
  top:5px;right:7px;
  font-size:15px;
  font-style:normal;
  cursor:pointer;
}
#add-note .field, #add-note__quick .field{
  margin-left:0;
  margin-bottom:5px;
  width: 250px;
}

#add-note .op, #add-note__quick .op{
  margin-top: 40px;
  height: 150px;
}

#add-note button, #add-note__quick button{
  margin-right: 5px;
}

.note_2{
  border:1px solid #8abfe9 !important;
  background-color:#c2e4fe !important;
}

#add-note_2, #add-note__quick_2{
  border:1px solid #ccc;
  position:absolute;
  top:47px;left:0;
  /*display:none;*/
  padding:25px 20px;
  background-color:#fff;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
  -moz-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
  box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
}
#add-note__quick_2{
  /*display:none;*/
  top:47px;left:0;
  z-index: 10;
}
#add-note_2:before{
  content:"";
  position:absolute;
  top:-20px;left:20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
#add-note__quick_2:before{

}
#add-note_2 i, #add-note__quick_2 i{
  position:absolute;
  top:5px;right:7px;
  font-size:15px;
  font-style:normal;
  cursor:pointer;
}
#add-note_2 .field, #add-note__quick_2 .field{
  margin-left:0;
  margin-right: 5px;
  width: 200px;
  }